package templates

import (
	"github.com/kiwikid/openscadgen/pkg/models"
	"time"
)

templ ConfigSummaryMinimal(config models.Config, outputPath string, totalTimeTaken time.Duration) {
    <div>
        <p>(process to get started...)</p>
    </div>
}
